header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;

  color: #ffffff;
  background-color: #CF4646;

  nav h1 {
    font-size: 16px;
    font-weight: 400;
  }
}
